<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy With Syd</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/style/buyWith.css">
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Monda&display=swap" rel="stylesheet">

</head>
<body>
    <div id="outContainer">
        <div class="row top">
                <div class="col leftHeader">
                    <div id="sydName">
                        <a href="../index.html" style="text-decoration:none">
                            <h1 id="name">@SydtheRealtor</h1>
                            <p id="title">Real Estate Agent</p>
                        </a>
                    </div>
                </div>
            <div class="col rightHeader">
                 <div id="logoDiv">
                    <img class="logo"  src="../assets/images/remax.jpg">
                    <p id="logoText">New Millennium Group</p>
                </div>
            </div>  
        </div>
        <div class="Wrap">
            <div class="title">
                <h1 id="titleText">PATH TO BUYING A <span>HOME</span></h1>
                <p>Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an. Change wholly say why eldest period. Are projection put celebrated particular unreserved joy unsatiable its. In then dare good am rose bred or. On am in nearer square wanted. </p>
            </div>
            <div class="scrolling-wrapper">
                <div class="card">
                    <h2>Pre-Approval</h2>
                    <p>Now indulgence dissimilar for his thoroughly has terminated.</p> 
                    <p>Agreement offending commanded my an. Change wholly say why eldest period.</p>
                    <p>Are projection put celebrated particular<span style="color: red;">LINK TO A PREFERRED CONTACT OF LOAN PERSON.</span></p>
                    <i class="arrow right"></i>
                </div>
                <div class="card">
                    <h2>Showings</h2>
                    <p>Now indulgence dissimilar for his thoroughly has terminated.</p> 
                    <p>Agreement offending commanded my an. Change wholly say why eldest period.</p>
                    <p>Are projection put celebrated particular<span style="color: red;">LINK TO A PREFERRED CONTACT OF LOAN PERSON.</span></p>
                    <img id="imgShowing" src="../assets/images/kitchen.jpg"/>
                    <i class="arrow right"></i>
                </div>
                <div class="card">
                    <h2>Closing</h2>
                    <p>Now indulgence dissimilar for his thoroughly has terminated.</p> 
                    <p>Agreement offending commanded my an. Change wholly say why eldest period.</p>
                    <p>Are projection put celebrated particular<span style="color: red;">LINK TO A PREFERRED CONTACT OF LOAN PERSON.</span></p>
                    <i class="arrow right"></i>
                </div>
            </div>

        </div>
    <div id="footer">
            <div id="rowOne" class="row">
                <div class="col">
                </div>
                <div id="colList" class="col">
                    <div id="hrefList">
                        <h4 id="quickLinks">Quick Links</h4>
                        <ul>
                            <li class="footerList" >Prefered Contacts</li>
                            <li class="footerList" >Listings</li>
                            <li class="footerList" >Contact</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div id="footerLogo">
                        <img class="logo footLogo" src="../assets/images/logoWhite.png">
                        <p style="margin-bottom: 0px;" id="logoTextFoot">New Millennium Group</p>
                        <p style="margin-bottom: 0px;" id="logoTextFoot">1042 N Broad St , Hillside, NJ 07205</p>
                        <p id="logoTextFoot">908.282.1234 </p>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div style="background-color:rgb(36, 89, 248);" class="row">
                <div class="col">
                    <div id="socialIconDiv">
                        <img class="socialIcon" src="../assets/images/ig.png">
                        <img class="socialIcon" src="../assets/images/email.png">
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
</body>
</html>