html{
    height: 100%;
}

body {
    width: 100%;
    background-color: rgb(15,57,127);
    position: relative;
    min-height: 100%;
    margin: 0 auto -30px;
}

#outContainer{
    overflow:hidden;
}

h2{
    font-family: 'Monda', sans-serif;
}


.top{
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Monda', sans-serif;
    font-size: 30px;
    color: rgb(220,32,45);
    background-color: white;
    
}

#sydName{
    display: inline-block;
}

#name{
    font-weight: bold;
    color: rgb(220,32,45);
}

#title{
    text-align: center;
    font-size: 20px;
    color: rgb(9,57,142);
}

h1{
    margin-bottom: 0px;
}

.rightHeader{
    padding-top: 5px;
}


#logoDiv{
    float: right;
    text-align: center
}

.logo{
    width:200px;
}

#logoText{
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
    color: rgb(9,57,142);
}
/* WRAP */

.Wrap{
    margin: 5% 5% auto;
    margin-bottom: 250px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 1200px;
    /* height: 500px; */
    margin: 0 auto;

}


.card {
    margin: 0 100px auto;
    display: inline-block;
    width: 1000px;
    height: 500px;
    font-family: 'Monda', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }


.title{
    /* border: solid 2px white; */
    font-family: 'Monda', sans-serif;
    color: white;
    text-align: center;
}
 #titleText{
     font-size: 60px;
 }

 span{
    color: rgb(220,32,45);
 }

 #imgShowing{
     height: 200px;
     width: 300px;
     margin-right: 60px;
     float: right;
 }
  

/* FOOTER */

#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#footerLogo{
    margin-top: 15px;
    text-align: center;
}


#logoTextFoot{
    color:white;
}

#rowOne{
    background-color: rgb(166,28,31);
    font-family: 'Monda', sans-serif;
}


#colList{
    position: relative;
}

#hrefList{
    position: absolute;
    top: 10%;
    width:auto;
    text-align: center;
}

#quickLinks{
    color: white;
    font-weight: bold;
}

ul{
    padding-left: 0px;
}

.footerList{
    color: white;
    list-style: none;
}

#socialIconDiv{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.socialIcon{
    width: 3.5%;
    height: auto;
    margin-left: 10px;
}
